
/* Colors */
$color_green_light: #66CC00;
$color_green_dark: #1F4912;
$color_gray_dark: #222222;
$color_white: #ffffff;
$color_donate: #FFE100;

$color_hover_overlay: rgba(22, 22, 22, 0.15);


/* Color Scheme */
$color_standard_1: #66CC00;
$color_standard_1_font: #fff;
$color_standard_2: #F6F4EF;
$color_standard_2_font: $color_gray_dark;
$color_standard_3: #1F4912;
$color_standard_3_font: #fff;

