dl.accordion {
	dt,
	dd {
		border-bottom: solid 1px #cccccc;
	}

	dt {
		&:first-of-type {
			border-top: solid 1px #cccccc;
		}

		a {
			display: block;
			width: 100%;
			padding: .4em 0;

			font-weight: 700;
			text-decoration: none;
			color: $color_gray_dark;

			outline: 0;

			&:after {
				content: " \3e";
				color: $color_standard_1;
			}

			&:hover {
				color: $color_standard_1;
			}

			&.active:after {
				content: "";
			}

			&.external-link::after {
				-webkit-mask-image: none;
				mask-image: none;
				background-color: transparent;;
			}
		}
	}

	dd {
		padding: .4em 0;
	}
}


/* Color Schemes */
@for $i from 1 through length($schema_names) {
	#{nth($selectors, $i)} {
		dl.accordion {
			dt {
				a {

					&:after {
						color: #{nth($colors_1, $i)};;
					}

					&:hover {
						color: #{nth($colors_1, $i)};;
					}
				}
			}
		}
	}
}

