.action-divider {
	border-top: 4px solid $color_standard_1;
	border-bottom: 4px solid $color_standard_1;
	margin: 2em 0;
	padding: 1em 2em;
}

.action-divider-text {
	font-weight: bold;
	text-align: center;
	margin-top: 1rem;

	.dashicons-before:before {
		color: $color_standard_1;
		font-size: 40px;
		width: 40px;
		height: 40px;
		vertical-align: middle;
		margin-right: 10px;
	}
}

.action-divider-button {
	text-align: center;
}

/* Color Schemes */
@for $i from 1 through length($schema_names) {
	#{nth($selectors, $i)} {
		.action-divider {
			border-color: #{nth($colors_1, $i)};
		}

		.action-divider-text {
			.dashicons-before:before {
				color: #{nth($colors_1, $i)};
			}
		}
	}
}
