// [grownnotmade] -> [Action Devider Styles]

.action-divider {
	border: 4px solid #26774e;
	border-left: 0;
	border-right: 0;
	margin: 2em 0;
	padding: 1em 2em;
}

.action-divider-text {
	font-weight: bold;
	text-align: center;
	margin-top: 1rem;

	.dashicons-before:before
	{
		color: #d06283;
		font-size: 40px;
		width: 40px;
		height: 40px;
		vertical-align: middle;
		margin-right: 10px;
	}
}

.action-divider-button {
	text-align: center;
	margin-top: 1rem;
}

.btn-accent {
	color: #ffffff;
	background-color: #d06283;
	border-color: #d06283;

	&:hover{
		background-color: #26774e;
		border-color: #26774e;
	}
}
