.wp-block-planet4-gpch-plugin-blocks-bs-bingo {
	.grid {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;

		.box {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			background-color: #eee;

			margin: 2px;
			width: calc(20% - 4px);

			cursor: pointer;
			border: solid 1px #aaa;

			&:after {
				content: "";
				display: block;
				padding-bottom: 100%;
			}

			.box-content {
				position: absolute;
				padding: 4px;
			}

			&.off {

			}

			&.on {
				background-color: #cbe0b1;

			}

			&.won {
				background-color: #206a0c;
				color: #fff;
			}
		}
	}
}