.gpch-block-donation-progress-outer {
	display: block;
	width: 100%;
	margin-bottom: 1rem;
	padding: 4px 4px;

	background-color: $color_gray_dark;

	.gpch-block-donation-progress-inner {
		min-width: 2%;
		max-width: 100%;
		min-height: 30px;

		background-color: $color_green_light;
	}
}
