// [gpch] -> [grownnotmade] -> [Donation Devider] -> [start]

.donation-divider {
	border: 4px solid #26774e;
	border-left: 0;
	border-right: 0;
	margin: 2em 0;
	padding: 1em 2em;

	.menu-icon {
		font-size: 3em;
		float: left;
		color: #d06283;
		margin-right: 0.6em;
	}

	.btn {
		margin-top: 1em;
	}
}

.donation-divider-text {
	font-weight: bold;
}

.btn-accent {
	color: #ffffff !important;
	background-color: #d06283 !important;
	border-color: #d06283 !important;

	&:hover{
		background-color: #26774e !important;
		border-color: #26774e !important;
	}
}

.fa {
	font-family: dashicons !important;
	font-style: normal;
	line-height: 1;
}

.fa-heart:before {
	content: "\f487";
}

// [gpch] -> [grownnotmade] -> [Donation Devider] -> [end]