.wp-block-planet4-gpch-plugin-blocks-p2p-share {
	max-width: 32em;
	position: relative;
	min-height: 450px;
	overflow: hidden;

	.p2p-share-step {
		background-color: var(--beige-100);
		width: 100%;
		padding: 1rem;
		margin-bottom: 1em;

		position: absolute;
		left: 0;

		transition: left 0.3s;
		visibility: hidden;

		&.p2p-share-step-1 {
			visibility: visible;

			.buttons button:not(.donate):hover img {
				filter: invert(100%);
			}
		}

		&.hidden {
			left: 100%;
		}

		&.hidden.prev {
			left: -100%;
		}

		h2 {
			font-size: var(--gpch-font-size--large);
			font-family: var(--font-family-secondary);
			font-weight: var(--gpch--font-weight--bold);

			margin-bottom: 1rem;

			&::after {
				display: none;
			}
		}

		.buttons {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;

			button {
				width: calc(50% - 0.5rem);
				min-width: 220px;
				flex-grow: 1;

				&.donate {
					width: 100%;
					max-width: 100%;
				}
			}
		}

		button {
			/* Standard button styles */
			background: var(--button-secondary--background, hsla(0, 0%, 100%, 0.7));
			border-color: var(--button-secondary--border-color, var(--color-border-button--secondary));
			color: var(--button-secondary--color, var(--color-text-button--secondary));
			border-width: 1px;
			border-radius: var(--button--border-radius, 4px);
			font-family: var(--button--font-family, var(--font-family-button));
			font-size: var(--button--font-size, 1rem);
			font-weight: var(--button--font-weight, bold);
			line-height: var(--button--line-height, 3);
			padding: 0 1rem;
			text-align: var(--button--text-align, center);
			transition-duration: 0.08s;
			transition-property: var(--button--transition-property, color, background-color, border-color);
			transition-timing-function: var(--button--transition-timing-function, linear);

			&:hover {
				background: var(--button-secondary--hover--background, var(--color-background-button--secondary-hover));
				border-color: var(--button-secondary--hover--border-color, var(--p4-dark-green-800));
				color: var(--button-secondary--hover--color, var(--white));
			}

			&:disabled {
				&:hover {
					background: var(--button-secondary--background, hsla(0, 0%, 100%, 0.7));
					border-color: var(--button-secondary--border-color, var(--color-border-button--secondary));
					color: var(--button-secondary--color, var(--color-text-button--secondary));
				}
			}

			&.primary {
				background: var(--button-primary--background, var(--color-background-button--cta));
				border-color: var(--button-primary--border-color, transparent);
				color: var(--button-primary--color, var(--color-text-button--primary));

				&:hover {
					background: var(--button-primary--hover--background, var(--color-background-button--primary-hover));
					border: var(--button-primary--hover--border, 1px solid transparent);
					color: var(--button-primary--hover--color, var(--color-text-button--cta));
				}

				&:disabled {
					background: var(--button-secondary--background, hsla(0, 0%, 100%, 0.7));
					border-color: var(--button-secondary--border-color, var(--color-border-button--secondary));
					color: var(--button-secondary--color, var(--color-text-button--secondary));
				}
			}

			img {
				height: 1.6em;
				margin-right: 0.5em;
			}
		}

		.share-options {
			.option {
				label {
					display: block;
				}
			}

			.option.desktop {
				max-width: calc(#{$size_width_desktop} - 1px);
			}

			@media (max-width: #{$size_width_desktop - 1px }) {
				.option.hide-mobile {
					display: none;
				}
			}
			@media (min-width: $size_width_desktop) {
				.option.hide-desktop {
					display: none;
				}
			}

			textarea {
				width: 100%;
			}
		}

		.controls.form-section {
			border-top: 1px solid #999;
			padding-top: 1rem;
		}

		&.p2p-share-step-3 {
			.social-icon {
				position: absolute;
				right: 1rem;
				max-height: 4rem;
				max-width: 4rem; /* Chrome enlarges element to 100% without this */
			}

			@media (max-width: #{$size_width_tablet }) {
				.social-icon {
					position: relative;
					right: auto;
					display: block;
					margin-bottom: 1rem;
				}
			}

			.status {
				font-size: 1rem;
				font-style: italic;

				&.error {
					color: red;
				}

				&.success {
					color: green;
				}

				&.hidden {
					display: none;
				}
			}

			.send-sms,
			.send-email {
				.hidden {
					display: none;
				}
			}
		}
	}

	.wp-block-button {
		margin-top: 0;
	}

	input[type='text'],
	textarea {
		margin-bottom: 1em;
	}

	.description {
		font-size: 1rem;
	}

	/* Loading animation */
	.lds-ring {
		background-color: transparent;
		display: inline-block;
		position: relative;
		width: 26px;
		height: 16px;
	}

	.lds-ring div {
		background-color: transparent;
		box-sizing: border-box;
		display: block;
		position: absolute;
		width: 16px;
		height: 16px;
		margin: 3px;
		border: 3px solid #000000;
		border-radius: 50%;
		animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
		border-color: #000000 transparent transparent transparent;
	}

	.lds-ring div:nth-child(1) {
		animation-delay: -0.45s;
	}

	.lds-ring div:nth-child(2) {
		animation-delay: -0.3s;
	}

	.lds-ring div:nth-child(3) {
		animation-delay: -0.15s;
	}

	@keyframes lds-ring {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
