.gpch-taskforce-banner {
	width: 100%;
	margin-bottom: 1em;
	padding: 40px 100px;

	min-height: 350px;

	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;

	.gpch-taskforce-content {
		margin-bottom: 1em;
		padding: 1em;
		max-width: 400px;

		background-color: #fff;

		h2 {
			margin-top: 0;
		}
	}

	.btn.btn-primary {
		border: 0;

		&:hover {

		}
	}
}


/*
	Move element into header width for larger screens
*/
@media screen and (min-width: $header_width) {
	.gpch-taskforce-banner-wrapper {
		/*
		width: $header_width;
		margin-left: calc((#{$header_width} - #{$content_width} + 30px) / -2); *//* 30 is the combined padding left and right */
	}
}

@include media('<=desktop') {
	.gpch-taskforce-banner {
		padding: 40px 40px;
		min-height: 350px;

		.gpch-taskforce-content {
			max-width: 400px;
		}
	}
}

@include media('<=tablet') {
	.gpch-taskforce-banner {
		padding: 20px 20px;
		min-height: 350px;

		.gpch-taskforce-content {
			max-width: 100%;
		}
	}
}

