.word-cloud-wrapper {
	margin: 2em 0;

	.error {
		color: red;
		font-weight: 700;
	}

	.word-cloud {
		span {
			transition: 0.2s ease-in-out;

			&:hover {
				transform: scale(1.1) !important;
				z-index: 9999;
				cursor: pointer;
			}
		}
	}
}