<div class="gpch-block-donation-progress-outer" style="background-color: {{ bg_color }};">
    <div class="gpch-block-donation-progress-inner" style="width: {{ percentage }}%; background-color: {{ bar_color }}">

    </div>
</div>
{% if show_text %}
<p class="donation-progress-text">{{ goal_text }}</p>
{% endif %}