<div class="donation-divider">
	<i class="menu-icon fa fa-heart"></i>
	<p></p>
	<div style="float:left; max-width:80%;">
		<p class="donation-divider-text">{{ text }}</p>
		<p>
			<a class="btn btn-lg btn-accent" href="{{ donation_link }}">Unterstütze uns</a>
		</p>
	</div>
	<div style="clear:both;"></div>
</div>