<div class="gpch-plugin-blocks-dreampeace-cover">
	<div class="selector-wrapper">
		<div class="cover-text">
			<h2>{{ title }}</h2>
			<p>{{ text }}</p>
		</div>
		<div class="cover-selector">
			<div class="controls">
				<input type="number" pattern="[0-9]*" inputmode="numeric" placeholder="____" class="cover-input">
				<button type="button" class="cover-search-button"><i class="dreampeace-arrow right"></i></button>
			</div>
		</div>
	</div>
	<div class="error-no-slide">
		<h2 class="error-year">1900</h2>
		{{ noYear|raw }}
	</div>
</div>