<div class="gravity-progress-outer" style="width: 100%; background-color: {{ bg_color }}; padding: 4px 4px;">
    <div class="gravity-progress-inner" style="width: {{ percentage }}%; min-width:2%; height: 30px; background-color: {{ bar_color }}">

    </div>
</div>