<div class="gpch-block-form-progress-outer" style="background-color: {{ bg_color }};">
    <div class="gpch-block-form-progress-inner" style="width: {{ percentage }}%; background-color: {{ bar_color }}">

    </div>
</div>