<div class="gp-inxmail-signup-form">
	<div class="gp-inxmail-signup-form">
		<script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
		<script>
			function gpchNewsletterOnSubmit( token ) {
				document.getElementById( 'displayform' ).submit()
			}
		</script>

		<h3>{{ title }}</h3>

		<div class="container">
			<form action="https://web.inxmail.com/greenpeace-ch/subscription/servletv2" method="post"
				  class="gpch-newsletter-form" id="displayform">
				<input type="hidden" name="INXMAIL_SUBSCRIPTION" value="Greenpeace_Master">
				<input type="hidden" name="INXMAIL_HTTP_REDIRECT"
					   value="https://www.greenpeace.ch/de/newsletter-anmeldung-erfolg/">
				<input type="hidden" name="INXMAIL_HTTP_REDIRECT_ERROR" value="https://www.greenpeace.ch/de/">

				<ul>
					<li>
						<label for="input_listfield_1" class="label">Anrede<span class="required">*</span></label>
						<div>
							<select name="Sex" id="input_listfield_1" class="large">
								<option value="2">Frau</option>
								<option value="1">Herr</option>
							</select>
						</div>
					</li>

					<li>
						<label for="input_textfield_2" class="label">Vorname<span class="required">*</span></label>
						<div>
							<input class="text large" type="text" name="FirstName" id="input_textfield_2" value=""
								   maxlength="254" placeholder="Vorname*" required/>
						</div>
					</li>

					<li>
						<label for="email">E-Mail<span class="required">*</span></label>
						<div>
							<input type="email" name="email" required>
						</div>
					</li>
				</ul>

				<input type="hidden" name="INXMAIL_CHARSET" value="UTF-8">
				<input type="hidden" name="unsetLanguageCode" value="false"/>
				<input type="hidden" name="LanguageCode" value="1"/>

				<input type="hidden" name="unsetflag_allgemein" value="false"/>
				<input type="hidden" name="flag_allgemein" value="true"/>

				<p>
					<button class="g-recaptcha btn btn-accent" data-sitekey="6Ld673sUAAAAANIr4kvsqp3F1i4iiOatKNVWVCL2"
							data-callback="gpchNewsletterOnSubmit" style="margin-top: 1em;">Anmelden
					</button>
				</p>
			</form>
		</div>
	</div>
</div>